---
import TimelineItem from './TimelineItem.astro';

const { item } = Astro.props;
---

<TimelineItem>
  <time class="text-sm">{item.start}-{item.end ? item.end : "now"}</time>
  <p class="text-lg font-semibold">{item.university}, {item.faculty}</p>
  <p>{item.degree}</p>
  <p class="font-medium">Специальность</p>
  <p>{item.specialization.code + ' ' + item.specialization.name}</p>
  <p class="font-medium">Направление</p>
  <p>{item.program}</p>
  <p class="font-medium">Дипломная работа</p>
  <!-- prettier-ignore -->
  <a
    class="link md:hover:no-underline"
    href={item.diploma.href}
    >{item.diploma.title}</a
  >
</TimelineItem>
