---
import TimelineItem from './TimelineItem.astro';

const { item } = Astro.props;
---

<TimelineItem>
  <time class="text-sm">{item.start}-{item.end ? item.end : "now"}</time>
  <p class="text-lg font-semibold">{item.company} ({item.city})</p>
  <p>{item.position}</p>
  <p class="font-medium">Задачи</p>
  {item.tasks.map(task =>
  <p>{task}</p>
  )}
</TimelineItem>
